/node_modules
/resources/css/app.css
/resources/js/app.js
/public/hot
/public/storage
/public/css/app.css
/public/js/app.js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
public/css/app.css
