@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: "Hind Madurai";
        font-weight: 300;
        src: url("../../public/fonts/Hind_Madurai/HindMadurai-Light.ttf") format("ttf");
    }

    @font-face {
        font-family: "Hind Madurai";
        font-weight: 400;
        src: url("../../public/fonts/Hind_Madurai/HindMadurai-Regular.ttf") format("ttf");
    }

    @font-face {
        font-family: "Hind Madurai";
        font-weight: 500;
        src: url("../../public/fonts/Hind_Madurai/HindMadurai-Medium.ttf") format("ttf");
    }

    @font-face {
        font-family: "Hind Madurai";
        font-weight: 600;
        src: url("../../public/fonts/Hind_Madurai/HindMadurai-SemiBold.ttf") format("ttf");
    }

    @font-face {
        font-family: "Hind Madurai";
        font-weight: 700;
        src: url("../../public/fonts/Hind_Madurai/HindMadurai-Bold.ttf") format("ttf");
    }

    @font-face {
        font-family: "Mada";
        font-weight: 200;
        src: url("../../public/fonts/Mada/Mada-ExtraLight.ttf") format("ttf");
    }

    @font-face {
        font-family: "Mada";
        font-weight: 300;
        src: url("../../public/fonts/Mada/Mada-Light.ttf") format("ttf");
    }

    @font-face {
        font-family: "Mada";
        font-weight: 400;
        src: url("../../public/fonts/Mada/Mada-Regular.ttf") format("ttf");
    }

    @font-face {
        font-family: "Mada";
        font-weight: 500;
        src: url("../../public/fonts/Mada/Mada-Medium.ttf") format("ttf");
    }

    @font-face {
        font-family: "Mada";
        font-weight: 600;
        src: url("../../public/fonts/Mada/Mada-SemiBold.ttf") format("ttf");
    }

    @font-face {
        font-family: "Mada";
        font-weight: 700;
        src: url("../../public/fonts/Mada/Mada-Bold.ttf") format("ttf");
    }

    @font-face {
        font-family: "Mada";
        font-weight: 900;
        src: url("../../public/fonts/Mada/Mada-Black.ttf") format("ttf");
    }

    @font-face {
        font-family: "Montserrat";
        src: url("../../public/fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("ttf");
    }

  }
